@use "./typography" as *;
@use "./breakpoints" as device;
@use "./variables" as v;

.gallery {
    background-color: v.$alabaster;
    padding: 1rem 1rem 0.5rem;
    color: v.$bandsite-black;

    @include device.tablet {
        padding: 1rem 2.25rem;
    }

    @include device.desktop {
        padding: 1rem 8rem;
    }

    &__heading {
        margin: 0;
        padding-bottom: 0.5rem;
        font-family: "Avenir", sans-serif;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;

        @include device.tablet {
            padding: 2rem 0 1rem;
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        @include device.desktop {
            padding-bottom: 1.5rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @include device.tablet {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__image {
        padding: 0.5rem 0;

        @include device.tablet {
            width: 31%;
            padding-bottom: 1rem;
        }

        @include device.desktop {
            width: 31.7%;

            filter: grayscale(1);
            transition: 0.5s;
            &:hover {
                filter: none;
            }
        }
    }
}