@use "./typography" as *;
@use "./breakpoints" as device;
@use "./variables" as v;

.header {
    background-color: v.$bandsite-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.87rem;

    @include device.tablet {
        flex-direction: row;
        justify-content: flex-start;
    }

    &__logo {
        margin: 1rem 1rem 0.25rem 2.25rem;
        img {
            width: 7rem;
        }

        @include device.tablet {
            margin: 1.5rem 1rem 1rem 2.25rem;
            img {
                width: 7rem;
            }
        }

        @include device.desktop {
            margin: 2rem 1rem 1rem 8rem;
            img {
                width: 7rem;
            }
        }
    }

    &__nav {
        margin: 0 1rem;
    }

    &__ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0;
        margin-top: 0;
        
        @include device.tablet {
            margin: 1.5rem 1rem;
        }

        @include device.desktop {
            margin: 2rem 1rem;
        }
    }

    &__li {
        list-style: none;
        
        @include device.tablet {
            margin: 0 1rem;
        }
    }

    &__hover-home, &__hover-shows {
        text-decoration: none;
        color: v.$mercury;
        font-family: "Avenir", sans-serif;
        font-weight: 600;
        position: relative;
    }
    
    &__hover-shows {
        font-weight: 400;
    }

    &__hover-home:focus, &__hover-shows:hover {
        color: v.$white;
        font-weight: 600;
    }
    
    &__hover-home::after {
        content: "";
        height: 0.18rem;
        width: 100%;
        background-color: v.$white;
        position: absolute;
        left: 0;
        bottom: -0.9rem;
        transition: all 0.5s;
        pointer-events: none;
        opacity: 1;
    
        @include device.tablet {
            bottom: -1.5rem;
        }
    
        @include device.desktop {
            bottom: -2rem;
        }
    }
    
    &__hover-shows::after {
        content: "";
        height: 0.18rem;
        width: 100%;
        background-color: v.$white;
        position: absolute;
        left: 0;
        bottom: -0.9rem;
        transition: all 0.5s;
        pointer-events: none;
        opacity:0;

        @include device.tablet {
            bottom: -1.5rem;
        }
    
        @include device.desktop {
            bottom: -2rem;
        }
    }
    
    &__hover-home:hover::after, &__hover-home:focus::after {
        opacity: 1;
    }
    
    &__hover-shows:hover::after, &__hover-shows:focus::after {
        opacity: 1;
    }
}
