// alternatives
@font-face {
    font-family: "Avenir Next Regular";
    src: url("../assets/fonts/alternatives/AvenirNextLTPro-Regular.woff2") format("woff2"),
         url("../assets/fonts/alternatives/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
    font-family: "Avenir Next Demi";
    src: url("../assets/fonts/alternatives/AvenirNextLTPro-Demi.woff2") format("woff2"),
         url("../assets/fonts/alternatives/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
    font-family: "Avenir Next Bold";
    src: url("../assets/fonts/alternatives/AvenirNextLTPro-Bold.woff2") format("woff2"),
         url("../assets/fonts/alternatives/AvenirNextLTPro-Bold.woff") format("woff");
}
// using
@font-face {
    font-family: "Avenir Next Regular";
    src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
         url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}
@font-face {
    font-family: "Avenir Next Demi";
    src: url("../assets/fonts/alternatives/AvenirNextLTPro-Demi.woff2") format("woff2"),
         url("../assets/fonts/alternatives/AvenirNextLTPro-Demi.woff") format("woff");
}
@font-face {
    font-family: "Avenir Next Bold";
    src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
         url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}