// colors
$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

// breakpoints - mobile first (mobile default 320px)
$mobile-max: 767px;
$tablet: 768px;
$desktop: 1280px;
